
*.log
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/17/f00916fd56fb00191a38ad77c7e1be58
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/28.snap
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/3701531455.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/1c/605774d175f600191348a77a4df8093a
.metadata/.plugins/org.eclipse.core.resources/.history/1e/3024c68545f7001911e4c68f5af20b64
