<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre Producto</th>
				<th>Cantidad Producto</th>
				<th>Valor Unitario</th>
				<th>Valor Total</th>
				<th>Fecha Ingreso</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mostrar: ${mostrar}">
				<td th:text="${mostrar.idProducto}"></td>
				<td th:text="${mostrar.nombre}"></td>
				<td th:text="${mostrar.cantidad}"></td>
				<td th:text="${mostrar.valorUnitario}"></td>
				<td th:text="${mostrar.cantidad * mostrar.valorUnitario}"></td>
				<td th:text="${mostrar.fechaIngreso}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>